
	<div class="bg">
		<ul class="text-white px-16">
			<li><i class="fab fa-apple"></i>
			<li>Mac</li>
			<li>ipad</li>
			<li>iphone</li>
			<li>Watch</li>
			<li>TV</li>
			<li>Music</li>
			<li>Support</li>
			<li><i class="fas fa-search"></i></li>
			<li><i class="fas fa-shopping-bag"></i></li>
		</ul>
	</div>
<div class="covid-nav">
	<span class="covid-nav-text">Evaluate Covid-19 Symptoms and understand next steps <i class="fas fa-angle-right"></i></span>
</div>
<div class="advertisement-bar">
	<span class="covid-nav-text">Shop Online and get Specialist help, free no-contact delivery, and more.</span>
</div>

<div>
	
<p class="phone-heading">iPhone 12</p>
<p class="phone-sub-head">Blast past fast.</p>
<p>From $29.12/mo. or $699k before trade-in.</p>
<p>Buy directly form apple with special carrier offers.</p>
</div>