
	<div class="bg">
		<ul class="text-white px-16">
			<li><i class="fab fa-apple"></i>
			<li>Mac</li>
			<li>ipad</li>
			<li>iphone</li>
			<li>Watch</li>
			<li>TV</li>
			<li>Music</li>
			<li>Support</li>
			<li><i class="fas fa-search"></i></li>
		</ul>
	</div>
