<nav>
	<div class="bg-black fixed max-w-screen-md z-10 mx-auto top-0 flex justify-between items-center">
		<ul class="inline-flex text-white">
			<li>Mac</li>
			<li>ipad</li>
			<li>iphone</li>
			<li>Watch</li>
			<li>Tv</li>
			<li>Music</li>
			<li>Support</li>
		</ul>
	</div>
</nav>