// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/




li{
    margin-left: 10px;
    color: #F5F5F7;
     margin-top: 5px;
}

ul{
    display: flex;
    justify-content: space-around;
   
    height: 40px;
    
}

div.bg{
    background-color: #1D1D1F;
    
}